# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2
updates:
  - package-ecosystem: "github-actions"
    directories:
      - "/"
      - "/docs/"
      - "/test/"
    schedule:
      interval: "monthly"
